<?xml version="1.0"?>

<model>
  <name>MBZIRColo gimbal camera</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <maintainer email="a@b.c">Emanuele</maintainer>


  <description>
    this is practicaly the exact copy of the gimbal_small_2d on the gazebo 
    official repo, made by john usu. I changed a plugin and will, in the future, change how the axis of 
    the gimbal work (one of the 2 axis is actually outside the gimbal model, not such a good practice.
  </description>
</model>
