<?xml version="1.0"?>

<model>
  <name>MBZIRColo demo </name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <maintainer email="a@b.c"></maintainer>


  <description>
    MBZIRColo drone: the chassis + pysical links are given in the base model, 
    this one includes the gimbal and the plugins.
    Please refer to iris_with_standoff_demo model on the gazebo official bitbucket repo for 
    the relative position of the gimbal and for (almost) every relative position you may find in the model
  </description>
  <depend>
    <model>
      <uri>model://MBZIRColo_base</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
